<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>User Info</h1>
{% for user in user %}
<h2>email = {{ user.email }}</h2>


<form name="user_info" method="post" >
    {{ form.name.label }}

    <input type="text" value="{{ user.name }}">

    {% if user.user_information == ' ' %}
    {{ form.phone_no.label }}
    {{ form.phone_no }}

    {{ form.address.label }}
    {{ form.address }}

    {{ form.city.label }}
    {{ form.city }}

    {{ form.pincode.label }}
    {{ form.pincode }}

    {{ form.state.label }}
    {{ form.state }}
    {% else %}
        <p>value</p>
    {% endif %}

<input type="submit" value="Save Information"/>
</form>
{% endfor %}
</body>
</html>