<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
 <form method="post" enctype= "multipart/form-data">
                            {{form.hidden_tag()}}
                            <!--name field-->
                            <div class="control-group">
                                <label class="control-label">Category Name</label>

                                <div class="controls">
                                    {{form.name(size=20)}}
                                </div>
                            </div>


                            <!--Edit buttons-->
                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" class="btn btn-primary" value="Edit">

                                </div>
                            </div>
                        </form>
</body>
</html>