{% extends 'base.html' %}

{% block content%}

<h1>Catalog</h1>

{% for category in categories %}
    <div id="show_products">
        <h4>{{ category.name }}</h4>
    <div class="col-md-offset-1">
        {% for product in products %}
        {% if category.id == product.category_id %}
        <h5>{{ product.name }}</h5>
        <p>price {{ product.price }}</p>
            <form name="add_quantity" method="post">
            {{ form.hidden_tag() }}
            {{ form.quantity.label }}: {{ form.quantity(size=1) }}
                <input type="hidden" name="product_slug" value="{{ product.id }}">
            <input type="submit" value="Add To Cart">
            </form>

        {% endif %}
        {% endfor %}
    </div>
    </div>
{% endfor %}
{% endblock %}