{% extends 'base.html' %}

{% block content%}

<h1>Catalog</h1>

{% for category in categories %}
    <div class="row"><div id="show_products" class="col-md-12">
        <h4 id="category_name">{{ category.name }}</h4>
    <div>
        {% for product in products %}
        {% if category.id == product.category_id %}
       <div class="col-md-3" id="catalog_product">
       <div >    <h4 class="text-primary">{{ product.name }}</h4>
        <p>price {{ product.price }}</p>
            <form name="add_quantity" method="post">
            {{ form.hidden_tag() }}
            <label>{{ form.quantity.label }}</label>:
                {{ form.quantity(size=1) }}
                {% for message in form.quantity.errors %}
                            <p class="text-danger">{{ message }} </p>
                        {% endfor %}
                <input type="hidden" name="product_slug" value="{{ product.id }}">
                <br>
                <br>
            <input type="submit" value="Add To Cart" class="btn btn-success">
            </form></div>
       </div>

        {% endif %}
        {% endfor %}
    </div>
    </div></div>
{% endfor %}
{% endblock %}