{% extends 'base.html' %}

{% block content%}
    <h2>Shipping Details</h2>
    <br>
    <br>

    <form name="checkout" method="post" class="form-horizontal">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label">  {{ field.label }}<span class="text-danger">*</span></label>
                    <div class="col-md-3"> {{ field(class_='form-control') }}</div>
                    <div class="col-md-6">
                        {% for message in field.errors %}
                            <p class="text-danger">{{ message }} </p>
                        {% endfor %}
                    </div>
                </div >
            </div>
        {% endfor %}

        <div class=" col-md-offset-2">

            <input type="submit" class="btn btn-success" value="Save Information"/>
        </div>
    </form>
{% endblock %}