{% extends 'base.html' %}

{% block content%}
<h4>Name - {{ checkout.name }}</h4>
<h4>Contact Number - {{ checkout.phone }}</h4>
<h4>Shipping Address - {{ checkout.address }}
</h4>
<br>
<br>
{% for cart in cart %}
id {{ cart.cart_id }} - product {{ cart.products.name}} - quantity {{ cart.quantity }}-price{{ cart.products.price }}<br>

{% endfor %}

<form method="post" name="order_summary" action="{{ url_for('order_summary') }}">
<input type="submit" name="submit" value="Checkout">
</form>
{% endblock %}